/* From Uiverse.io by bociKond */
/* .loader {
  width: 44.8px;
  height: 44.8px;
  color: #445c5b;
  position: relative;
  background: radial-gradient(11.2px, currentColor 94%, #0000);
}

.loader:before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50%;
  background: radial-gradient(10.08px at bottom right, #0000 94%, currentColor)
      top left,
    radial-gradient(10.08px at bottom left, #0000 94%, currentColor) top right,
    radial-gradient(10.08px at top right, #0000 94%, currentColor) bottom left,
    radial-gradient(10.08px at top left, #0000 94%, currentColor) bottom right;
  background-size: 22.4px 22.4px;
  background-repeat: no-repeat;
  animation: loader 1.5s infinite cubic-bezier(0.3, 1, 0, 1);
}

@keyframes loader {
  33% {
    inset: -11.2px;
    transform: rotate(0deg);
  }

  66% {
    inset: -11.2px;
    transform: rotate(90deg);
  }

  100% {
    inset: 0;
    transform: rotate(90deg);
  }
} */

/* From Uiverse.io by Yaya12085 */
.loader {
  height: 23px;
  width: 23px;
  border-radius: 50%;
  background-color: #3f6494;
  animation: 1.5s pulse infinite ease-in-out;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #833224;
  }
  50% {
    box-shadow: 0 0 0 30px #d8b8d100;
  }

  100% {
    box-shadow: 0 0 0 44px #69ffa800;
  }
}

/*  custom css */
.middle-loader {
  height: 100vh;
  width: 100%;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 15000;
}
